{% extends 'base.html' %}

{% block style %}


.list {
visibility: hidden;
}
{% endblock %}

{% block content %}
<h2></h2>
<form action="/songs/create/" method="post", enctype="multipart/form-data">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input class="list" id="author" name="author" value={{form_user}}>
    <input class="list" type="file"  id="def_photo" name="def_photo" value={{form_user}}>
    <input type="submit" value="Submit">
</form>

<a href="{% url 'songs' %}">Назад</a>
{% endblock %}